html{
    background-color: rgba(248, 237, 227, 1);
}
::-webkit-scrollbar{
    display: none;
}
.App-headerMain{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/fonkMenu.png");
    background-size: 100vw;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5vh;
}
.App-headerLogo{
    display: inline-flex;
    justify-content: center;
    align-items: end;
    margin-left: 40%;
    text-decoration: none;
}
.App-headerLogoImg{
    display: flex;
    width: 75px;
    height: 75px;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.App-headerText{
    font-family: ingrid-darling;
    font-size: 60px;
    text-decoration: none;
    color: black;
}
.App-headerCart{
    display: flex;
    margin-right: 3vh;
}
.App-footerMain{
    display: inline-flex;
    align-items: center;
    justify-content: start;
    background-image: url("images/fonkMenu.png");
    background-size: 100vw;
    width: 100%;
}
.App-footerInfo{
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-top: 1vh;
}
.App-footerInfoText{
    font-size: 20px;
}
.App-footerPayments{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.App-footerPaymentsLogos{
    display: inline-flex;
    align-items: center;
    justify-content: start;
}
.App-footerPaymentLogo{
    display: flex;
    width: 50px;
    height: 45px;
    margin-left: 2vh;
}
.App-footerPaymentLogo:first-child{
    margin-left: 0vh;
}
.App-footerPaymentLogo:last-child{
    width: 40px;
    height: 40px;
}
.App-homeMain{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10vh;
}
.App-homeFirstPlate{
    display: flex;
    background-image: url("images/firstBlock.png");
    width: 720px;
    height: 721px;
    text-decoration: none;
    color: black;
}
.App-homeFirstPlateText{
    display: flex;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: fit-content;
    margin-top: 1.2vh;
    padding: 2px;
}
.App-homeSecondPlates{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vh;
}
.App-homeSecondPlate{
    display: flex;
    background-image: url("images/secondPlate.png");
    width: 350px;
    height: 353px;
}
.App-homeThirdPlate{
    display: flex;
    background-image: url("images/thiedPlate.png");
    width: 350px;
    height: 341px;
    margin-top: 2.5vh;
}

.App-previewPosters{
    display: flex;
    background: url("images/prewiev.svg") no-repeat;
}

.App-Sidebar{
    width: 100px;
    margin: auto;
    height: 100px;
    float: left;
    position: relative;
}

.App-SidebarText{
    font-family: TenorSans;
    font-size: 40px;
    width: 100px;
    border-bottom:1px solid black;
}

@font-face {
    font-family: 'ingrid-darling';
    src: url('ttf/IngridDarling-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TenorSans';
    src: url('ttf/TenorSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}