html{
    background-color: rgba(248, 237, 227, 1);;
}
.App-headerMain{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/fonkMenu.png");
    background-size: 100vw;
    width: 100%;
    margin-top: 3%;
}
.App-headerLogo{
    display: inline-flex;
    justify-content: center;
    align-items: end;
    margin-left: 40%;
}
.App-headerLogoImg{
    display: flex;
    width: 75px;
    height: 75px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.App-headerText{
    font-family: ingrid-darling;
    font-size: 60px;
}
.App-headerCart{
    display: flex;
    margin-right: 3vh;
}
@font-face {
    font-family: 'ingrid-darling';
    src: url('ttf/IngridDarling-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}